<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>View Books</title>
</head>
<body>
        <h2>Books List</h2>
        <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
            <td>{{ book[4] }}</td>
            <td>
                <a href="/update/{{ book[0] }}">Update</a> |
                <a href="/delete/{{ book[0] }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
